.category {
    padding-bottom: 0;
    padding-top: 33px;
}

.category .row:last-child {
    margin-bottom: 0;
}

.category .content {
    text-align: center;
}

.category .content i {
    font-size: 28px;
    color: #474747;
}

.category .content span {
    display: block;
    margin-top: 5px;
}
.product-home  .container .owl-carousel{width:372px;display:block;z-index: 0}
.product-home .container .owl-carousel .content.aa{float:left;width:181px;padding:3px 8px;}